/* color palette from <https://github.com/vuejs/theme> */

@font-face {
    font-family: Arkhip;
    src: url("./fonts/Arkhip_font.ttf");
}

@font-face {
    font-family: Roboto-Light;
    src: url("./fonts/Roboto-Light.ttf");
}

@font-face {
    font-family: Venti-Medium;
    src: url("./fonts/VentiCF-Medium.ttf");
}

*,
*:before,
*:after {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
}

body {
    margin: 0;
    box-sizing: border-box;
    width: 100%;
}
